<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Required by Google Pay / Wallet API when Checkout SDK uses it (isReadyToPay). -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
